/* src/Login1.css */
body {
    background-image: url(./img/bg1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    background-image: linear-gradient(aqua, orange);
    color: white;
    width: 50%;
    height: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card h1 {
    text-align: center;
  }
  
  .home {
    position: fixed;
    top: 10px;
    right: 50%;
    font-size: 50px;
  }
  
  .home button {
    color: white;
    background-color: aqua;
    font-size: 15px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
  }
  